footer {
    background-color: $primarycolor;
  }
  /*footer-top*/
  
  .footer-top {
    margin: 0 auto;
    width: 70%;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
  }
  
  .footer-top img {
    width: 50px;
    vertical-align: middle;
  }
  
  
  /*footer-top*/
  
  /*footer-center*/
  .footer-center {
    background-image: url("../assets/img/footer-bg.jpg");
  }
  
  .row-2 {
    width: 70%;
    margin: 0 auto;
    display: flex;
    height: 400px;
  }
  
  .lista h3 {
    color: white;
    padding: 15px 0px;
    text-transform: uppercase;
  }
  
  .lista {
    float: left;
    width: 150px;
    margin-top: 50px;
  }
  
  .lista li {
    list-style-type: none;
  }
  
  .lista li a {
    list-style-type: none;
    text-decoration: none;
    color: lightgray;
    line-height: 20px;
  }
  
  .footer-img {
    position: relative;
    left: 300px;
    width: 500px;
    overflow: hidden;
  }
  
  .footer-center img {
    position: absolute;
    top: -50px;
    width: 100%;
  }
  /*.footer-center*/
  
  /*footer-bottom*/
  .footer-bottom {
    width: 100%;
    background-color: #303030;
  }
  
  .btn {
    padding: 16px 32px;
    border: 2px solid $primarycolor;
    color: white;
    text-decoration: none;
  }
  
  .footer-menu {
    width: 70%;
    margin: 0 auto;
    height: 150px;
    line-height: 150px;
  }
  
  .menu-social a {
    padding: 10px;
  }
  
  .menu-social span {
    color: $primarycolor;
    text-transform: uppercase;
   
  }
  
  .menu-social {
    float: right;
  }
  
  .bottone {
    float: left;
  }
  
  /*.footer-bottom*/
 